@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-alice-carousel/lib/alice-carousel.css";
@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mooli", sans-serif;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

.active {
  color: white;
  background-color: rgb(101, 101, 227);
}
